<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="footer-col">
                <h4>Digital Direct Assistance</h4>
                <ul>
                    <li><a [routerLink]="['/home']">Accueil</a></li>
                    <li><a href="home#prestations">Prestations</a></li>
                    <li><a [routerLink]="['/document']">Formulaires à télécharger</a></li>
                    <li><a [routerLink]="['/contact']">Contact</a></li>
                    <li><a [routerLink]="['/about']">A Propos de nous</a></li>
                    <li><a [routerLink]="['/register']" routerLinkActive="active">Inscription</a></li>
                    <li><a [routerLink]="['/partnership']" routerLinkActive="active">Devenir Partenaire</a></li>
                </ul>
            </div> 
            <div class="footer-col">
                <h4>Aide</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Programme Affiliation</a></li>
                    <li><a href="#">Options de Paiement </a></li>
                </ul>
            </div> 
            <div class="footer-col">
                <h4>Vente en Ligne</h4>
                <ul>
                    <li><a [routerLink]="['/activity']">Activités</a></li>
                    <li><a [routerLink]="['/demand']">Services à la demande</a></li>
                </ul>
            </div> 
            <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><img [src]="facebookIcon" /></a>
                    <a href="#"><img [src]="instagramIcon" /></a>
                    <a href="#"><img [src]="youtubeIcon" /></a>
                    <a href="#"><img [src]="dribbbleIcon" /></a>
                    <a href="#"><img [src]="twitterIcon" /></a>
                    <a href="#" mailto="windows.237.01@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                    <a href="https://wa.me/+237698702696" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div> 
        </div>
    </div>
</footer>