<div class="container">
    <div class="signup-box">
        <div class="col-1">
            <img [src]="logImg">
        </div>
        <div class="col-2">
            <h2>Débutons Aujourd'hui</h2>
            <span>Pas encore inscrit? <a [routerLink]="['/register']">Inscription</a></span>

            <div class="row">
                <div>
                    <div *ngIf="errormsg" role="alert">
                        {{ errormsg }}
                        <button type="button" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>

                    <div *ngIf="successmsg" role="alert">
                        {{ successmsg }}
                        <button type="button" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                </div>
            </div>

            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

                <div class="input-box">
                    <label>Adresse Mail</label>
                    <input type="email" name="email" placeholder="Adresse Mail" class="input-field" ngModel>                  
                </div>

                <div class="input-box">
                    <label>Mot de Passe</label>
                    <input type="password" name="password" placeholder="Mot de Passe" class="input-field" ngModel>
                </div>

                <div class="row">
                    <input type="checkbox" checked>
                    <span>I agree to the <a href="#">terms and conditions</a></span>
                </div>
                <button type="submit">Connexion</button>
            </form>
        </div>
    </div>
</div>