<div class="small-container">
    <h1 class="title">Prestations Immobilières</h1>
    <div class="row">
        <div class="service" [routerLink]="['/subscription']">
            <h2>Bon à savoir</h2>
            <p>Toutes nos offres immobilières font l’objet d’une sélection rigoureuse sur la base des critères ci-après</p>
            <ul>
                <li>- l’existence et la disponibilité des biens proposés,</li>
                <li>- la légalité des documents et des propriétaires.</li>
                <li>- La situation fiscale du bien au moment de l’offre.</li>
            </ul>
        </div>
        <div class="service">
            <h2>Bon à savoir</h2>
            <p>Nos offres et transactions revêtent une grande crédibilité et fiabilité.
                Toutes nos offres et transactions sont consultables et domiciliées auprès des notaires. 
                Ainsi nos notaires sont disposés à se mettre à collaboration avec votre notaire ou conseil juridique.
            </p>
        </div>
    </div>

    <div class="info-text">
        <p>Abonnement à notre fichier Immobilier : Adhésion 100€  Pour 12 mois.</p>
        <a [routerLink]="['/subscription-details']">Abonnement</a>
    </div>
</div>